.suptitle-left {

  font-size: 22px;
  line-height: 32px;

  text-align: right;
  letter-spacing: 7.33333px;


  color: #FFFFFF;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #FFFFFF;
    left: 0;
    top: 50%;
  }
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #FFFFFF;
  text-transform: uppercase;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}
