@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header_slider {
  &-item {
    height: 100vh;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.header {
  position: relative;
  height: 100vh;
}

.slider-item_info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider-item_info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;

  margin-bottom: 48px;
}

.slider-item_info-suptitle {
  margin-bottom: 5px;
}

.slider-item_info-suptext {
  margin-bottom: 8px;
}

.slider-item_info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrow {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrow-left {
  right: 125px;
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  color: #FFFFFF;

  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;

  &_number {
    font-weight: 800;
    line-height: 34px;
    font-size: 24px;
  }

  &_name {
    font-weight: 300;
    line-height: 19px;
  }
}
.header-aside{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.header-title {
  font-size: 200px;
  line-height: 156px;
text-transform: uppercase;
  color: #FFFFFF;
  max-width: 467px;
  opacity: 0.07;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

@import "media";
