@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header_slider {
  &-item {
    height: 100vh;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.header {
  position: relative;
  height: 100vh;
}

.slider-item_info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item_info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;

}

.slider-item_info-suptitle {
  margin-bottom: 5px;
}

.slider-item_info-suptext {
  margin-bottom: 8px;
}

.slider-item_info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrow {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrow-left {
  right: 125px;
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;


  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  text-transform: capitalize;
  &_number {
    font-weight: 800;
    line-height: 34px;
    font-size: 24px;
  }

  &_name {
    font-weight: 300;
    line-height: 19px;
  }
}

.header-aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, .25);
  text-align: center;

}

.header-title {
  font-size: 200px;
  line-height: 156px;
  max-width: 467px;
  opacity: 0.07;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  padding-top: 40px;
    a {
      span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 3px;
        padding-top: 6px;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
    }
}
.header-date{
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span{
    padding-top: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
  }
}

.header-location{
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
  &::before{
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url("../img/geo-mark.svg") ;
    left: 0;
    top: 0;
  }
}
.header-search{
  padding-top: 15px;
  padding-bottom: 35px;
}
.header-map{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.header-arrows{
  position: absolute;
  left: 210px;
  bottom: 30px;
  z-index: 3;
}
.line-animation{
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 3s infinite 5s;
}

@keyframes animdash {
to{
  stroke-dashoffset: 0;
}
}
.title{
  span{
    font-weight: 800;
    font-size: 200px;
    color: rgba(#fff, .02);
    position: relative;
  }
  h3{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 80px
  }
}

@import "media";
