@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header_slider {
  &-item {
    height: 100vh;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item_info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider-item_info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;

  margin-bottom: 48px;
}
.slider-item_info-suptitle{
  margin-bottom: 5px;
}
.slider-item_info-suptext{
  margin-bottom: 8px;
}
.slider-item_info-text{
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;

}

@import "media";
